doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title News
    body
        header
            h1 Личная страница (блог) ФИО
            nav
                ul
                    li
                        a(href='rozklad.html') Расписание занятий
                    li
                        a(href='photo.html') Фотоальбом
                    li
                        a(href='news.html') Недавние новости
        main
            h2 Последние новости
            article
            figure
                img(src='' alt='')
                figcaption
                    img(src='https://habrastorage.org/webt/pg/6q/ja/pg6qjayfrchkfj-zhwfj4_9-be4.png' alt='Photo article' width='1000px')
                    time(pubdate datetime='2020-12-23') 23 декабря
            p
                | С момента появления Linux достаточно скоро возникло множество дистрибутивов: Slack, RedHat, Debian, SUSE и т. д. Тогда же возникла и проблема выбора дистрибутива, ведь каждый из них имеет свои особенности и преимущества, которые делают его особенным. RedHat и Debian наиболее стабильные и консервативные из дистрибутивов, Ubuntu заточен на удобство и имеет прекрасный пользовательский интерфейс, Gentoo — свобода выбора и гибкость.
            a(href='https://habr.com/ru/company/ruvds/blog/543640/')  Read more
            hr
            article
                figure
                    img(src='' alt='')
                    figcaption
                        img(src='https://habrastorage.org/webt/ik/ln/u3/iklnu3orhhgqicsvj84mrxytjm0.png' alt='Photo article2' width='1000px')
                        time(pubdate datetime='2020-12-23') 23 декабря
                p
                    | С момента появления Linux достаточно скоро возникло множество дистрибутивов: Slack, RedHat, Debian, SUSE и т. д. Тогда же возникла и проблема выбора дистрибутива, ведь каждый из них имеет свои особенности и преимущества, которые делают его особенным. RedHat и Debian наиболее стабильные и консервативные из дистрибутивов, Ubuntu заточен на удобство и имеет прекрасный пользовательский интерфейс, Gentoo — свобода выбора и гибкость.
                a(href='https://habr.com/ru/post/543646/')  Read more
        footer
        p Copyright @2021 Все права защищены
