doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Photo
    body
        header
            h1 Личная страница (блог) ФИО
            nav
                ul
                    li
                        a(href='rozklad.html') Расписание занятий
                    li
                        a(href='photo.html') Фотоальбом
                    li
                        a(href='news.html') Недавние новости
        main
            h2 Фотоальбом
            figure
                a(href='https://images.wallpaperscraft.ru/image/olen_art_vektor_134088_1280x720.jpg' target='_blank')
                    img(src='../../lab2/img/p_1.jpg' height='100px' alt='Photo_№1')
                figcaption Photo1
                    br
                    | 1920x1080
            figure
                a(href='https://images.wallpaperscraft.ru/image/minimalizm_nebo_oblaka_solntse_gory_ozero_pejzazh_95458_1280x720.jpg' target='_blank')
                    img(src='../../lab2/img/p_2.jpg' height='100px' alt='Photo_№2')
                figcaption Photo2
                    br
                    | 1920x1080
            figure
                a(href='https://images.wallpaperscraft.ru/image/tgs_seppster_ice_racer_mototsikl_germaniya_99402_1280x720.jpg' target='_blank')
                    img(src='../../lab2/img/p_3.jpg' height='100px' alt='Photo_№3')
                figcaption Photo3
                    br
                    | 1920x1080
            figure
                a(href='https://images.wallpaperscraft.ru/image/snezhnyy_bars_sneg_ohota_vnimatelnost_chb_57947_1280x720.jpg' target='_blank')
                    img(src='../../lab2/img/p_4.jpg' height='100px' alt='Photo_№4')
                figcaption Photo4
                    br
                    | 1920x1080
            figure
                a(href='https://images.wallpaperscraft.ru/image/paraplan_nebo_polet_91710_1280x720.jpg' target='_blank')
                    img(src='../../lab2/img/p_5.jpg' height='100px' alt='Photo_№5')
                figcaption Photo5
                    br
                    | 1920x1080
            figure
                a(href='https://images.wallpaperscraft.ru/image/reka_doma_art_128746_1280x720.jpg' target='_blank')
                    img(src='../../lab2/img/p_6.jpg' height='100px' alt='Photo_№6')
                figcaption Photo6
                    br
                    | 1920x1080
            figure
                a(href='https://images.wallpaperscraft.ru/image/doroga_razmetka_pasmurno_124093_1280x720.jpg' target='_blank')
                    img(src='../../lab2/img/p_7.jpg' height='100px' alt='Photo_№7')
                figcaption Photo7
                    br
                    | 1920x1080
            figure
                a(href='https://images.wallpaperscraft.ru/image/dj_naushniki_ustanovka_122020_1280x720.jpg' target='_blank')
                    img(src='../../lab2/img/p_8.jpg' height='100px' alt='Photo_№8')
                figcaption Photo8
                    br
                    | 1920x1080
    footer
        p Copyright @2021 Все права защищеныт
