doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Timetable
  header
    h1 &Lcy;&icy;&chcy;&ncy;&acy;&yacy; &scy;&tcy;&rcy;&acy;&ncy;&icy;&tscy;&acy; (&bcy;&lcy;&ocy;&gcy;) &Fcy;&Icy;&Ocy;
    nav
      ul
        li
          a(href='rozklad.html') &Rcy;&acy;&scy;&pcy;&icy;&scy;&acy;&ncy;&icy;&iecy; &zcy;&acy;&ncy;&yacy;&tcy;&icy;&jcy;
        li
          a(href='photo.pug') &Fcy;&ocy;&tcy;&ocy;&acy;&lcy;&softcy;&bcy;&ocy;&mcy;
        li
          a(href='news.pug') &Ncy;&iecy;&dcy;&acy;&vcy;&ncy;&icy;&iecy; &ncy;&ocy;&vcy;&ocy;&scy;&tcy;&icy;
  main
    h2 &Rcy;&acy;&scy;&pcy;&icy;&scy;&acy;&ncy;&icy;&iecy; &zcy;&acy;&ncy;&yacy;&tcy;&icy;&jcy;
    table
      thead
        caption &Rcy;&acy;&scy;&pcy;&icy;&scy;&acy;&ncy;&icy;&iecy;
        tr
          th &Pcy;&ocy;&ncy;&iecy;&dcy;&iecy;&lcy;&softcy;&ncy;&icy;&kcy;
          th &Vcy;&tcy;&ocy;&rcy;&ncy;&icy;&kcy;
          th &Scy;&rcy;&iecy;&dcy;&acy;
          th &CHcy;&iecy;&tcy;&vcy;&iecy;&rcy;&gcy;
          th &Pcy;&yacy;&tcy;&ncy;&icy;&tscy;&acy;
      tbody
        tr
          td &Pcy;&rcy;&ocy;&gcy;&rcy;&acy;&mcy;&mcy;&ncy;&acy;&yacy; &icy;&ncy;&zhcy;&iecy;&ncy;&iecy;&rcy;&icy;&yacy;
          td &Acy;&ncy;&gcy;&lcy;&icy;&jcy;&scy;&kcy;&icy;&jcy; &yacy;&zcy;&ycy;&kcy;
          td &Pcy;&rcy;&ocy;&gcy;&rcy;&acy;&mcy;&mcy;&ncy;&acy;&yacy; &icy;&ncy;&zhcy;&iecy;&ncy;&iecy;&rcy;&icy;&yacy;
          td &Pcy;&rcy;&acy;&kcy;&tcy;&icy;&kcy;&ucy;&mcy; &pcy;&ocy; &pcy;&rcy;&ocy;&gcy;&rcy;&acy;&mcy;&icy;&rcy;&ocy;&vcy;&acy;&ncy;&icy;&yucy;
          td &Pcy;&rcy;&ocy;&iecy;&kcy;&tcy;&icy;&rcy;&ocy;&vcy;&acy;&ncy;&icy;&iecy; &scy;&lcy;&ocy;&zhcy;&ncy;&ycy;&khcy; &ocy;&bcy;&hardcy;&iecy;&kcy;&tcy;&ocy;&vcy;
        tr
          td &CHcy;&icy;&scy;&lcy;&ocy;&vcy;&ycy;&iecy; &mcy;&iecy;&tcy;&ocy;&dcy;&ycy;
          td Front-end &tcy;&iecy;&khcy;&ncy;&ocy;&lcy;&ocy;&gcy;&icy;&icy;
          td &Pcy;&rcy;&ocy;&gcy;&rcy;&acy;&mcy;&mcy;&ncy;&acy;&yacy; &icy;&ncy;&zhcy;&iecy;&ncy;&iecy;&rcy;&icy;&yacy;
          td &Pcy;&rcy;&acy;&kcy;&tcy;&icy;&kcy;&ucy;&mcy; &pcy;&ocy; &pcy;&rcy;&ocy;&gcy;&rcy;&acy;&mcy;&icy;&rcy;&ocy;&vcy;&acy;&ncy;&icy;&yucy;
          td
        tr
          td
          td
          td &CHcy;&icy;&scy;&lcy;&ocy;&vcy;&ycy;&iecy; &mcy;&iecy;&tcy;&ocy;&dcy;&ycy;
          td
          td Front-end &tcy;&iecy;&khcy;&ncy;&ocy;&lcy;&ocy;&gcy;&icy;&icy;
    h2 &Pcy;&rcy;&iecy;&pcy;&ocy;&dcy;&acy;&vcy;&acy;&vcy;&acy;&tcy;&iecy;&lcy;&softcy;&scy;&kcy;&icy;&jcy; &scy;&ocy;&scy;&tcy;&acy;&vcy;
    section
      ul
        li &Kcy;&rcy;&icy;&vcy;&ocy;&khcy;&acy;&tcy;&acy; &Acy;&ncy;&acy;&scy;&tcy;&acy;&scy;&iukcy;&yacy; &Gcy;&rcy;&icy;&gcy;&ocy;&rcy;&iukcy;&vcy;&ncy;&acy;
        li &Kcy;&ucy;&dcy;&iukcy;&ncy; &Ocy;&lcy;&iecy;&kcy;&scy;&iukcy;&jcy; &Vcy;&ocy;&lcy;&ocy;&dcy;&icy;&mcy;&icy;&rcy;&ocy;&vcy;&icy;&chcy;
        li &Lcy;&iecy;&vcy;&chcy;&ucy;&kcy; &Scy;&iecy;&rcy;&gcy;&iukcy;&jcy; &Acy;&ncy;&acy;&tcy;&ocy;&lcy;&iukcy;&jcy;&ocy;&vcy;&icy;&chcy;
        li &Lcy;&iukcy;&scy;&ncy;&yacy;&kcy; &Acy;&ncy;&dcy;&rcy;&iukcy;&jcy; &Ocy;&lcy;&iecy;&kcy;&scy;&acy;&ncy;&dcy;&rcy;&ocy;&vcy;&icy;&chcy;
        li &Mcy;&icy;&lcy;&softcy;&tscy;&iecy;&vcy; &Ocy;&lcy;&iecy;&kcy;&scy;&acy;&ncy;&dcy;&rcy; &Mcy;&icy;&khcy;&acy;&jcy;&lcy;&ocy;&vcy;&icy;&chcy;
        li &Scy;&tcy;&rcy;&jukcy;&lcy;&yacy;&jukcy;&vcy; &YUcy;&rcy;&iukcy;&jcy; &Mcy;&icy;&khcy;&acy;&jcy;&lcy;&ocy;&vcy;&icy;&chcy;
        li &CHcy;&ocy;&pcy;&ocy;&rcy;&ocy;&vcy; &Scy;&iecy;&rcy;&gcy;&iukcy;&jcy; &Vcy;&iukcy;&kcy;&tcy;&ocy;&rcy;&ocy;&vcy;&icy;&chcy;
  footer
    p Copyright @2021 &Vcy;&scy;&iecy; &pcy;&rcy;&acy;&vcy;&acy; &zcy;&acy;&shchcy;&icy;&shchcy;&iecy;&ncy;&ycy;
